<template name="metrics">
    {{#if hasData}}
        <div class="row">
            <div class="cell">
                {{> timingTable}} 
            </div>
        </div>
        <div class="row">
            <div class="cell">
                {{> weightTable}}
            </div>
        </div>
    {{else}}
        {{> nodata}}
    {{/if}}
</template>

<template name="timingTable">
	<table>
		<caption>Timing (ms)</caption>
		<thead>
			<tr>
				<th>First Byte</th>
				<th>Last Byte</th>
				<th>First CSS</th>
				<th>First JS</th>
				<th>First Image</th>
				<th>DOM Interactive</th>
				<th>DOM Loaded</th>
				<th>DOM Complete</th>
				<th>HTTP Complete</th>
				<th>Backend (%)</th>
				<th>Frontend (%)</th>
				<th>Fastest Response</th>
				<th>Slowest Response</th>
				<th>Smallest Latency</th>
				<th>Biggest Latency</th>
				<th>Median Response</th>
				<th>Median Latency</th>
			</tr>
		</thead>
		<tbody>
			{{#each tests}}
				<tr>
					<td>{{this.metrics.timeToFirstByte}}</td>
					<td>{{this.metrics.timeToLastByte}}</td>
					<td>{{this.metrics.timeToFirstCss}}</td>
					<td>{{this.metrics.timeToFirstJs}}</td>
					<td>{{this.metrics.timeToFirstImage}}</td>
					<td>{{this.metrics.domInteractive}}</td>
					<td>{{this.metrics.domContentLoaded}}</td>
					<td>{{this.metrics.domComplete}}</td>
					<td>{{this.metrics.httpTrafficCompleted}}</td>
					<td>{{this.metrics.timeBackend}}</td>
					<td>{{this.metrics.timeFrontend}}</td>
					<td>{{this.metrics.fastestResponse}}</td>
					<td>{{this.metrics.slowestResponse}}</td>
					<td>{{this.metrics.smallestLatency}}</td>
					<td>{{this.metrics.biggestLatency}}</td>
					<td>{{this.metrics.medianResponse}}</td>
					<td>{{this.metrics.medianLatency}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</template>

<template name="weightTable">
	<table>
		<caption>Weight (bytes)</caption>
		<thead>
			<tr>
				<th>Requests (#)</th>
				<th>Headers</th>
				<th>Content</th>
				<th>HTML</th>
				<th>CSS</th>
				<th>JS</th>
				<th>JSON</th>
				<th>Image</th>
				<th>Webfont</th>
				<th>Video</th>
				<th>Base 64</th>
				<th>Other</th>
				<th>Smallest Response</th>
				<th>Biggest Response</th>
			</tr>
		</thead>
		<tbody>
			{{#each tests}}
				<tr>
					<td>{{this.metrics.requests}}</td>
					<td>{{this.metrics.headersSize}}</td>
					<td>{{this.metrics.contentLength}}</td>
					<td>{{this.metrics.htmlSize}}</td>
					<td>{{this.metrics.cssSize}}</td>
					<td>{{this.metrics.jsSize}}</td>
					<td>{{this.metrics.jsonSize}}</td>
					<td>{{this.metrics.imageSize}}</td>
					<td>{{this.metrics.webfontSize}}</td>
					<td>{{this.metrics.videoSize}}</td>
					<td>{{this.metrics.base64Size}}</td>
					<td>{{this.metrics.otherSize}}</td>
					<td>{{this.metrics.smallestResponse}}</td>
					<td>{{this.metrics.biggestResponse}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</template>
