<template name="analytics-menu">
    <ul class="menu-items">
		<a href="/analytics/overview">
            <li class="item">
				<div class="item-info">
					<span class="title">Overview</span>
					<span class="desc">Statistics and Analytics</span>
				</div>
				<div class="item-select">
					<i class="fa fa-angle-right"></i>
				</div>
			</li>
		</a>
        <a href="/analytics/schedule">
            <li class="item">
				<div class="item-info">
					<span class="title">Schedule</span>
					<span class="desc">Timing Information</span>
				</div>
				<div class="item-select">
					<i class="fa fa-angle-right"></i>
				</div>
			</li>
		</a>
		<a href="/analytics/metrics">
            <li class="item">
				<div class="item-info">
					<span class="title">Metrics</span>
					<span class="desc">Performance Data</span>
				</div>
				<div class="item-select">
					<i class="fa fa-angle-right"></i>
				</div>
			</li>
		</a>
		<a href="/analytics/statistics">
            <li class="item">
				<div class="item-info">
					<span class="title">Statistics</span>
					<span class="desc">Perforamance Analysis</span>
				</div>
				<div class="item-select">
					<i class="fa fa-angle-right"></i>
				</div>
			</li>
		</a>
	</ul>
</template>
