<template name="index">
<div id="landing">
    <header>
        <a id="logo" href="/">WARPDRIVE.IO</a>
        <nav>
            {{#if currentUser}}
                <a href="/home">DASHBOARD</a>
            {{else}}
                <a href="#" id="login-button">LOG IN</a>
                <div id="login-popup">
                    {{> atForm}}
                </div>
            {{/if}}
        </nav>
    </header>

        <div id="hero">
            <div id="particles"></div>
            <div id="hero-image"></div>
            <div id="hero-content">
                <img class="hero-content-image" src="/hero.png">
                <!--
                <h1 id="hero-title">Real Time Performance Analytics</h1>
                <p id="hero-description"></p>
                <div id="hero-buttons">
                    <button class="gradient-bg-1">Request Demo</button>                    
                    <button class="gradient-bg-2">Watch a Video</button>
                </div>
                -->
            </div>
        </div>

        <div id="press">
            <img src="press.png" />
        </div>

        <div id="benefits">
        <div class="wrapper">
            <div class="item">
                <img class="benefit-icon" src="/ufo.png" />
                <h3 class="benefit-title">Improve User Experience</h3>
                <p class="benefit-description">Your users expect a quick responsive experience when they use your website. A long page load could make the difference between converting a sale or losing a customer. When your product is your software, it's important to make sure it's always running as well as it should.</p>
            </div>
            <div class="item">
                <img class="benefit-icon" src="/wormhole.png" />
                <h3 class="benefit-title">Prevent Costly Downtime</h3>
                <p class="benefit-description">Don't let your users take the brunt of downtime. When your users can't use your website, you lose money. Warpdrive will immediately notify you when your website is down or running poorly. Our analytics can help you discover the cause of downtime and fix issues before your userbase is affected.</p>
            </div>
            <div class="item">
                <img class="benefit-icon" src="/astronaut.png" />
                <h3 class="benefit-title">Save Development Time</h3>
                <p class="benefit-description">Regularly and thoroughly testing software is difficult and time consuming. Warpdrive makes this process easy and fast with automated, real time performance testing. Save time and money by letting us monitor and analyze your website.</p>
            </div>
        </div>
        </div>

        <div class="video-container">
            <img src="/mockup.jpg" style="visibility:hidden;width:100%;max-height:80vh;">
            <div class="play-button"></div> 
        </div>

        <div id="pricing">
            <div class="wrapper">
                    <div class="price-box">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
                        </span>
                        <h1 class="title">Basic</h1>
                        <span class="price">$10</span>
                        <span class="price-desc">/month</span>
                        <ul class="feature-list">
                            <li>10 Tests</li>
                            <li>More Items</li>
                            <li>Another Thing</li>
                            <li>One More</li>
                            <li>Done</li>
                        </ul>
                        <button type="button">Purchase</button>
                </div>
                    <div class="price-box">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                        </span>
                        <h1 class="title">Advanced</h1>
                        <span class="price">$50</span>
                        <span class="price-desc">/month</span>
                        <ul class="feature-list">
                            <li>50 Tests</li>
                            <li>More Items</li>
                            <li>Another Thing</li>
                            <li>One More</li>
                            <li>Done</li>
                        </ul>
                        <button type="button">Purchase</button>
                    </div>
                    <div class="price-box">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                        </span>
                        <h1 class="title">Premium</h1>
                        <span class="price">$250</span>
                        <span class="price-desc">/month</span>
                        <ul class="feature-list">
                            <li>Unlimited Tests</li>
                            <li>More Items</li>
                            <li>Another Thing</li>
                            <li>One More</li>
                            <li>Done</li>
                        </ul>
                        <button type="button">Purchase</button>
                </div>
            </div>
        </div>

        <div id="contact">
            <form>
                <fieldset>
                    <label>Your Name</label>
                    <input type="text" name="name">
                </fieldset>
                <fieldset>
                    <label>Your Email</label>
                    <input type="email" name="email">
                </fieldset>
                <fieldset>
                    <label>Message</label>
                    <textarea name="message" rows="8"></textarea>
                </fieldset>
                <button>Send</button>
            </form>
        </div>

        <footer>
            <span>&copy; 2016 Warpdrive | Tim Whitaker | tim@warpdrive.io</span>            
        </footer>

</div>
</template>
