<template name="index">
<div id="landing">
    <header>
        <a id="logo" href="/">WARPDRIVE.IO</a>
        <nav>
            {{#if currentUser}}
                <a href="/home">DASHBOARD</a>
            {{else}}
                <a href="#" id="login-button">LOG IN</a>
                <div id="login-popup">
                    {{> atForm}}
                </div>
            {{/if}}
        </nav>
    </header>

    <div class="content">
        <div id="hero">
            <div id="particles"></div>
            <div id="hero-image"></div>
            <div id="hero-content">
                <img class="hero-content-image" src="/hero.png">
                <!--
                <h1 id="hero-title">Real Time Performance Analytics</h1>
                <p id="hero-description"></p>
                <div id="hero-buttons">
                    <button class="gradient-bg-1">Request Demo</button>                    
                    <button class="gradient-bg-2">Watch a Video</button>
                </div>
                -->
            </div>
        </div>

        <div id="press">
            <img src="press.jpg" />
        </div>

        <div id="benefits">
            <div class="item">
                <img class="benefit-icon" src="/ufo.png" />
                <h3 class="benefit-title">Number 1</h3>
                <p class="benefit-description">My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?</p>
            </div>
            <div class="item">
                <img class="benefit-icon" src="/astronaut.png" />
                <h3 class="benefit-title">Number 2</h3>
                <p class="benefit-description">The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
            </div>
            <div class="item">
                <img class="benefit-icon" src="/wormhole.png" />
                <h3 class="benefit-title">Number 3</h3>
                <p class="benefit-description">Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>
            </div>
        </div>

        <div class="video-container">
            <img src="/mockup.jpg" style="visibility:hidden;width:100%;max-height:80vh;">
            <div class="play-button"></div> 
        </div>

        <div id="pricing">
            <div class="wrapper">
                    <div class="price-box">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
                        </span>
                        <h1 class="title">Basic</h1>
                        <span class="price">$10</span>
                        <span class="price-desc">/month</span>
                        <ul class="feature-list">
                            <li>10 Tests</li>
                            <li>More Items</li>
                            <li>Another Thing</li>
                            <li>One More</li>
                            <li>Done</li>
                        </ul>
                        <button type="button">Purchase</button>
                </div>
                    <div class="price-box">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                        </span>
                        <h1 class="title">Advanced</h1>
                        <span class="price">$50</span>
                        <span class="price-desc">/month</span>
                        <ul class="feature-list">
                            <li>50 Tests</li>
                            <li>More Items</li>
                            <li>Another Thing</li>
                            <li>One More</li>
                            <li>Done</li>
                        </ul>
                        <button type="button">Purchase</button>
                    </div>
                    <div class="price-box">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                        </span>
                        <h1 class="title">Premium</h1>
                        <span class="price">$250</span>
                        <span class="price-desc">/month</span>
                        <ul class="feature-list">
                            <li>Unlimited Tests</li>
                            <li>More Items</li>
                            <li>Another Thing</li>
                            <li>One More</li>
                            <li>Done</li>
                        </ul>
                        <button type="button">Purchase</button>
                </div>
            </div>
        </div>

        <div id="contact">
            <h1>Contact Us</h1>
            <form>
                <fieldset>
                    <label>Your Name</label>
                    <input type="text" name="name">
                </fieldset>
                <fieldset>
                    <label>Your Email</label>
                    <input type="email" name="email">
                </fieldset>
                <fieldset>
                    <label>Message</label>
                    <textarea name="message" rows="8"></textarea>
                </fieldset>
            </form>
        </div>

    </div>
</div>
</template>
