<template name="header">
	<header>
		<nav class="left">
            <a href="/analytics">Analytics</a>
            <a href="/settings">Settings</a>
		</nav>
        <nav class="right">
            <a href="/help">
                <div class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-question fa-stack-1x"></i>
                </div>
            </a>
            <a href="/user">
                <div class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-user fa-stack-1x"></i>
                </div>
            </a>
		</nav>
	</header>
</template>
